<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/petlife?serverTimezone=Asia/Taipei</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">chenpo0407</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- 使用資料庫連線池配置 -->
<!-- 		<property name="connection.datasource">java:comp/env/jdbc/Petlife</property> -->

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="com.petlife.admin.entity.Coupon" />
		<mapping class="com.petlife.admin.entity.AcctState" />
		<mapping class="com.petlife.admin.entity.AcctType" />
		<mapping class="com.petlife.admin.entity.Admin" />
		<mapping class="com.petlife.admin.entity.Advertisement" />
		<mapping class="com.petlife.forum.entity.Article" />
		<mapping class="com.petlife.forum.entity.ArticleImg" />
		<mapping class="com.petlife.forum.entity.CollectArticle" />
		<mapping class="com.petlife.forum.entity.Comment" />
		<mapping class="com.petlife.forum.entity.Forum" />
		<mapping class="com.petlife.forum.entity.Good" />
		<mapping class="com.petlife.forum.entity.ReportForum" />
		<mapping class="com.petlife.forum.entity.ReportType" />
		<mapping class="com.petlife.mall.entity.Buylist" />
		<mapping class="com.petlife.mall.entity.BuylistDetails" />
		<mapping class="com.petlife.mall.entity.BuylistState" />
		<mapping class="com.petlife.mall.entity.Comm" />
		<mapping class="com.petlife.user.entity.User" />
		<mapping class="com.petlife.seller.entity.Seller" />
		<mapping class="com.petlife.pet.entity.Pet"/>
		<mapping class="com.petlife.pet.entity.PetVariety"/>
		<mapping class="com.petlife.pet.entity.PetPhoto"/>
	</session-factory>
</hibernate-configuration>
