p.login-box-msg {
	font-size: 24px;
	padding: 0;
}

p.description {
	color: gray;
	font-size: 12px;
}

button#getauthcode {
	font-size: 12px;
	font-weight: 600;
}

button.btn-primary {
	background-color: #2B8BC1;
	font-weight: bold;
}

button.btn-warning {
	background-color: #F4980E;
	color: white;
	font-weight: bold;
	padding: 5px;
}

div#forget_password_menu {
	margin: 40px 0;
}

div.col-auto.card.card-outline.card-warning {
	padding: 0px;
}

p.mt-3.mb-1 a {
	font-size: 14px;
	font-weight: 600;
	color: rgb(89, 105, 222);
}

div.identity_select div label {
	font-size: 14px;
}

div.identity_select div.member {
	margin-left: 20px;
}

img#top_logo {
	margin: 0;
}