p.login-box-msg {
    font-size: 24px;
    padding: 0;
}

p.description {
    color: gray;
    font-size: 12px;
}

p.mt-3.mb-1 {
    font-size: 14px;
    font-weight: 600;
}

button#getauthcode {
    font-size: 12px;
    font-weight: 600;
}

button.btn-primary {
    background-color: #2B8BC1;
    font-weight: bold;
}

button.btn-warning {
    background-color: #F4980E;
    color: white;
    font-weight: bold;
}

div.identity_select div label {
    font-size: 14px;
}

div.identity_select div.member {
    margin-left: 20px;
}