p.login-box-msg {
    font-size: 24px;
    padding: 0 0 10px 0;
}

p.social-auth-links {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}

div.identity_select div label {
    font-size: 14px;
}

p.mb-1 a {
    font-size: 14px;
    font-weight: 600;
    color: rgb(89, 105, 222);
}

img#top_logo{
	margin: 0;
}




div#login_menu {
    margin: 40px 0;
}

button.btn-primary {
    background-color: #2B8BC1;
    font-weight: bold;
}

button.btn-warning {
    background-color: #F4980E;
    color: white;
    font-weight: bold;
}

span.verify_result {
	font-size: 14px;
	font-weight: bold;
}