body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar {
    background-color: #343a40;
    /* Sidebar background color */
    color: #818181;
    padding: 20px;
    height: 100vh;
    /* 100% of the viewport height */
}

#sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: color 0.3s;
}

#sidebar a:hover {
    color: #f8f9fa;
    /* Hover color */
}

#content {
    padding: 20px;
}

#accordionExample .accordion-button {
    font-size: 18px;
}

div.sidebar_select a {
    font-size: 16px;
    margin: 15px 0;
    font-weight: 400;
    color: var(--black-color);
}

li.list-group-item a {
    color: var(--black-color);
}

h3.main_header {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}


div#delete_content {
    border: 1px black solid;
    background-color: #FEFAE0;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    margin: 0 10px;
}

h5#rateModalLabel,
h5#cancelModalLabel,
h5#checkModalLabel {
    font-size: 24px;
    font-weight: bolder;
}

div.delete_box {
    height: 200px;
}

div.modal-header {
    background-color: #FFD966;
}

div.row.modal-footer {
    margin: 0;
}

div.form-group label {
    font-size: 18px;
}

button#btn_delete,
button#btn_save {
    margin-right: 50px;
}

div.order_item {
    text-align: center;
}

.btn-primary {
    background-color: #2B8BC1 !important;
    font-weight: bold;
    border: 0;
}

.btn-danger {
    font-weight: bold;
    border: 0;
}

.btn-secondary {
    font-weight: bold;
    border: 0;
}

.btn-warning {
    background-color: #F4980E !important;
    color: white !important;
    font-weight: bold;
    border: 0;
}

button#likes {
    font-size: 16px !important;
    font-weight: 400 !important;
}

section#our_shop_main {
    padding: 50px 0;
}

div#main_content {
    padding: 20px;
}

h3#mamber_center_title {
    font-size: 20px;
    background-color: #FFD966 !important;
}

h3#sidebar_title {
    font-size: 20px;
}

div#sidebar_wrapper {
    margin-left: 50px;
    width: 341.28px;
}

div.star_block {
    display: inline-block;
    position: relative;
}

div.star_block>span.star {
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
}

div.star_block>span.star.-on {
    color: yellow;
}

table.buylistdetailList{
    border: 1px solid lightgray;
    border-collapse: collapse;
    border-radius: 10%;
}
tbody.order_items td{
    text-align: center;
}

div#cancel_reason,div#cancelReasonTextarea{
    margin: 0;
}