body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar {
    background-color: #343a40;
    /* Sidebar background color */
    color: #818181;
    padding: 20px;
    height: 100vh;
    /* 100% of the viewport height */
}

#sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: color 0.3s;
}

#sidebar a:hover {
    color: #f8f9fa;
    /* Hover color */
}

#content {
    padding: 20px;
}

#accordionExample .accordion-button {
    font-size: 18px;
}

li.list-group-item {
    font-size: 16px;
}

h3.main_header {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}

div.main_item {
    padding: 0 10px;
}

#preview {
    display: inline-block;
}

#preview img.preview_img {
    border: 1px solid lightgray;
    width: 180px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
}

div.main_form {
    padding: 20px;
}

button.addCards {
    font-size: 12px;
    border: 0;
}

div.sidebar_select a {
    font-size: 16px;
    margin: 15px 0;
    font-weight: 400;
    color: var(--black-color);
}

li.list-group-item a {
    color: var(--black-color);
}

div input.main_input {
    /* border: 0; */
    width: 220px;
}

input#p_file {
    display: none;
}

input.form-control{
    height: 50px;
}

.btn-primary {
    background-color: #2B8BC1 !important;
    font-weight: bold !important;
    border: 0 !important;
}

.btn-warning {
    background-color: #F4980E !important;
    color: white !important;
    font-weight: bold !important;
    border: 0 !important;
}

div.check_area {
    margin: 20px;
}

div.form-group label {
    font-weight: bold;
}

div.creditcard {
    text-align: start;
    /* padding-left: 105px; */
}

ul.cardList li.card {
    border: 0;
    background-color: transparent;
    font-size: 14px !important;
    display: inline-block;
    text-align:justify;
    width: 200px;
}

button.btn_delete_card {
    border: 0;
    color: white;
    font-weight: bolder;
    font-size: 12px;
}

button#likes{
    font-size: 16px !important;
    font-weight: 400 !important;
}

section#our_shop_main{
    padding: 50px 0;
}

h3#mamber_center_title{
    font-size: 20px;
    background-color: #FFD966 !important;
}

h3#sidebar_title{
    font-size: 20px;
}

table#user_profile{
    border-collapse: collapse ;
    border: 1px solid lightgray;
}

th.profile_title,td.profile_content{
    /* border: 1px solid lightgray; */
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
}

th.profile_title{
    width: 200px;
    background-color: #FEFAE0;      
}

td.profile_content{
    text-align: center ;
    width: 300px;
    background-color: white;
}

div#sidebar_wrapper{
    margin-left: 50px;
    width: 341.28px;
}

/* div.form-group.mb-3{
    padding: 5px 30px;
} */

div.modal-header{
    background-color: #FFD966 !important;
}

div.modal-header h5.modal-title{
    font-weight: bolder;
}


td.delete{
    width: 150px;
}

select#country,select#district{
    background-color: white !important;
}

span.must_insert {
	color: red;
}

